<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="message" placeholder="Enter the message to be displayed">
        <input type="submit">
    </form>
    <form action="deleteDevAlert" method="post">
        <button type="submit" name="delete" style="background-color:#ff3f38">Delete Messages</button>
        <input type="submit">
    </form>
</body>
</html>