<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <%if(user) {%>
    <% console.log("The ejs"+JSON.stringify(user))%>
      <li>Welcome, <%= user.email %></li>
      <li><a href="/logout">Log out</a></li>
      <% } else { %>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
  </nav>
  