<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <style>
        .wtf{text-align:center!important}
    .theTitle
    {
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align: center;
      font-weight: 300;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
    }
    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      padding-top: 12px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }

    .invoice-box table {
      width: 100%;
      line-height: inherit;
      text-align: left;
    }

    .invoice-box table td {
      padding: 5px;
      vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
      text-align: right;
    }

    .invoice-box table tr.top table td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
    }

    .invoice-box table tr.information table td {
      padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }

    .invoice-box table tr.details td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
      border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
      }

      .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
      }
    }

    /** RTL **/
    .invoice-box.rtl {
      direction: rtl;
      font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .invoice-box.rtl table {
      text-align: right;
    }

    .invoice-box.rtl table tr td:nth-child(2) {
      text-align: left;
    }
  </style>
</head>

<body>

  <center><h1 class="theTitile">List of new users within this month</h1></center>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="5">
          <table>
            <tr>
              <td class="title">
                <img src="images/Logo.png" style="width: 50%; max-width: 200px;    margin-top: -22px !important;" />
              </td>

              <td style="
                padding-top: 36px;
            ">
                Platform report<br />
                <b>
                  <p id="date"></p>
                </b>
                <script>
                  var today = new Date();

                  var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                  document.getElementById("date").innerHTML = date;
                </script><br />

              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="5">
          <table>
            <tr>
              <td>
                <b>Habseshapp</b><br />
                Habeshapp.com<br />
              </td>

              <td>
                Habeshapp Corp.<br />
                App Platfomr<br />
                Habeshapp@gmail.com
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="heading">
        <td class="details topic">
          <b> User Name</b>
        </td>
        <td class="details topic">
          <b>Emial address</b>
        </td>
        <td class="details topic">
          <b> Registered date</b>
        </td>
        
      </tr>


      <% if(typeof usersList != 'undefined'){ %>
      <% for (i = 0; i < usersList.length; i++)
          {  %>
      <tr>
        <td><%= usersList[i][0] %></td>
        <td class="wtf"><%= usersList[i][1] %></td>
        <td><%= usersList[i][2] %></td>

      </tr>
      <% } %>
      <% } %>

    </table>
  </div>
  <center>
    <button style="margin-top:20px; width:300px;background-color: rgb(54, 54, 255);padding: 10px;color: white;font-size: 15px;border-radius: 9px;border-color: white;"
      onclick="myfun()">PRINT</button>
  </center>


  <script type="text/javascript">
    function myfun() {
      window.print();
    }
  </script>
</body>

</html>