<%- include('partials/header'); -%>
  <h2>Login</h2>
<form action="" method="post">

  <label for="email">Email</label>
  <input type="email" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button type="submit">login</button>
</form>

<%- include('partials/footer'); -%>

<!-- <script>
  const form = document.querySelector('form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const email = form.email.value;
    const password = form.password.value;
    try {
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({
          email,
          password
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log(data);
    } catch (err) {
      console.log(err);
    }
  });
</script> -->