<%- include('partials/header'); -%>

<form action="/login" method="post">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="email" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button type="submit">login</button>
</form>

<%- include('partials/footer'); -%>

<script>

</script>