<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset password</h1>
    <form action="/reset_password" method="post">
        <label for="password1"> Password</label>
        <input type="password" name="password1"><br>
        <label for="password"> Confirm Password</label>
        <input type="password" name="password2"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>