html,
body {
  background: rgb(255,255,255);
background: -moz-linear-gradient(126deg, rgba(255,255,255,1) 0%, rgba(248,255,198,1) 57%, rgba(255,206,25,1) 90%);
background: -webkit-linear-gradient(126deg, rgba(255,255,255,1) 0%, rgba(248,255,198,1) 57%, rgba(255,206,25,1) 90%);
background: linear-gradient(126deg, rgba(255,255,255,1) 0%, rgba(248,255,198,1) 57%, rgba(255,206,25,1) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffce19",GradientType=1);

  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
 
  width: 160%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
  border-radius: 40px;
  height: 50px;
  border-color: #ffce19;
}


.form-signin input[type="email"] {
  margin-bottom: 10px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
  border-radius: 40px;
  height: 50px;
  border-color: #ffce19;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
  border-radius: 40px;
  height: 50px;
  border-color: #ffce19;
}
