.catagory
{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  
}

.my-login-page .form-group label {
  width: 20%;
}

.my-login-page .form-group label {
  width: 10% !important;
}

.uploadFile
{
  padding-top: 30px !important;
  margin-top: 40px !important;
}

