/* CSS Document */


.card{text-align: center; border: none; border-radius: 5px;-webkit-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
    box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
    margin-bottom: 100px;
    }
    
    p{
        margin-bottom: 0.5rem;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .rating-css {
        cursor: pointer;
        height: 30px;
        font-size: 0;
        margin-bottom: 15px;
    }

    .rating-css input {
        display: none;
    }

    .rating-css input + label {
        display: inline-block;
        width: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 24px;
        color: #FFC107;
        text-shadow: 1px 1px 0 #000;
        cursor: pointer;
    }

    .rating-css input + label.fa-heart {
        color: #ee2351;
    }

    .rating-css input:checked + label ~ label {
        color: rgb(219, 219, 219);
    }

    .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 15%;
        text-align: center;
        opacity: .5;
    }
    
    .rating-css.hover-effect input:checked + label ~ label {
        opacity: 0.5;
    }

    .rating-css.hover-effect:hover input + label ~ label {
        opacity: 1;
    }

    .rating-css.hover-effect:hover input:hover + label ~ label {
        opacity: 0.5;
    }
    
    @media (min-width: 992px)
    {
    .container {
        max-width: 1060px;
    }
    }
    
    @media (min-width: 768px)
    {
        .col-md-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 33%;
            max-width: 33%;
        }
        .container {
            max-width: 895px;
        }
        .col-md-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 45% !important;
            max-width: 45% ;
        }
    }
    
    @media (min-width: 576px)
    {
        .p{margin-bottom: 0px;}
        .col-md-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 45%;
            max-width: 45%;
        }
        .container {
            max-width: 900px;
        }
        .col-md-3 {
            position: relative;
            width: 33%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            }
    }