<!doctype html>
<html class="fixed">

<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<title>Developer Dashboard</title>
	<meta name="keywords" content="HTML5 Admin Template" />
	<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
	<meta name="author" content="JSOFT.net">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="bootstrap/bootstrap.css" />
	<!-- My css -->
	<link rel="stylesheet" href="css/pannel.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="bootstrap/theme.css" />

	<!-- Skin CSS -->
	<link rel="stylesheet" href="bootstrap/default.css" />


</head>

<body>
	<section class="body">

		<!-- start: header -->
		<header class="header">
			<div class="logo-container">
				<a class="logo" style="text-decoration: none;">
					<img src="images/Logo.png" height="35" alt="JSOFT Admin" />
					<strong style="margin-left:20px;padding-top:100px !important;font-size: medium;">HABESHAPP</strong>

				</a>
				<div class="header-right">

					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<%if(typeof dev!='undefined') {%>
							<% console.log("The ejs"+JSON.stringify(dev))%>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
								<span class="name"><%= dev.email %></span>
								<span class="role">Developer</span>
							</div>
							<% } else { %><div style="display: none;"></div><% } %>

							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="/dev-logout"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- start: search & user box -->

			<!-- end: search & user box -->
		</header>
		<!-- end: header -->

<div class="inner-wrapper">
<!-- start: sidebar -->
<!--  -->
<!-- end: sidebar -->

<section role="main" class="content-body">
<header class="page-header">
<h2><a href="/pannel" style="text-decoration: none;color: white;">Dashboard</a></h2>

</header>
<div style="margin-top: 40px;padding-left: 40px;padding-right: 40px;">
<div class="row row-cols-1 row-cols-md-2 g-4">
	<div class="col ">
		<div class="card h-100">
			<a href="publish" style="text-decoration: none;color: rgb(54, 54, 54);">
				<center>
					<img src="images/publish.png"
						style="height: 90px;width: 90px; align-items: center !important;"
						class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">Publish App</h5>
						<p class="card-text"
							style="padding-left: 80px !important;padding-right: 80px !important;">
							This is where you can publish your built android app on the platform.
							This card has supporting text below as a natural lead-in to additional
							content. </p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</center>
			</a>
		</div>
	</div>
	<div class="col">
		<div class="card h-100">
			<a href="apps" style="text-decoration: none;color: rgb(54, 54, 54);">
				<center>
					<img src="images/status.png"
						style="height: 90px;width: 90px; align-items: center !important;"
						class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title" ><b>View Apps Status</b></h5>
						<p class="card-text"
							style="padding-left: 80px !important;padding-right: 80px !important;">
							This card has supporting text below as a natural lead-in to additional
							content.
							This card has supporting text below as a natural lead-in to additional
							content.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</center>
			</a>
		</div>
	</div>

</div>
</div>

<div style="margin-top: 100px;padding-left: 40px;padding-right: 40px;">
<div class="row row-cols-1 row-cols-md-2 g-4">
	<div class="col">
		<div class="card h-100">
			<a href="appsUpdate" style="text-decoration: none;color: rgb(54, 54, 54);">
				<center>
					<img src="images/update.png"
						style="height: 90px;width: 90px; align-items: center !important;"
						class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title"><b>Update App</b></h5>
						<p class="card-text"
							style="padding-left: 80px !important;padding-right: 80px !important;">
							This card has supporting text below as a natural lead-in to additional
							content.
							This card has supporting text below as a natural lead-in to additional
							content.
						</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</center>
			</a>
		</div>
	</div>

	<div class="col">
		<div class="card h-100">
			<a href="deleteApps" style="text-decoration: none;color: rgb(54, 54, 54);">
				<center>
					<img src="images/delete.png"
						style="height: 90px;width: 90px; align-items: center !important;"
						class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title"><b>Delete App</b></h5>
						<p class="card-text"
							style="padding-left: 80px !important;padding-right: 80px !important;">
							This card has supporting text below as a natural lead-in to additional
							content.
							This card has supporting text below as a natural lead-in to additional
							content.
						</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</center>
			</a>
		</div>
	</div>
</div>


				</div>


				<!-- ststus: page -->
				<!-- <div class="row">
				<div class="col-md-6 col-lg-12 col-xl-6">
					<div class="row">
						<div class="col-md-12 col-lg-6 col-xl-6">
							<section class="panel panel-featured-left panel-featured-primary">
								<div class="panel-body">
									<div class="widget-summary">
										<div class="widget-summary-col widget-summary-col-icon">
											<div class="summary-icon bg-primary">
												<i class="fa fa-life-ring"></i>
											</div>
										</div>
										<div class="widget-summary-col">
											<div class="summary">
												<h4 class="title">Views</h4>
												<div class="info">
													<strong class="amount">1281</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-12 col-lg-6 col-xl-6">
							<section class="panel panel-featured-left panel-featured-secondary">
								<div class="panel-body">
									<div class="widget-summary">
										<div class="widget-summary-col widget-summary-col-icon">
											<div class="summary-icon bg-secondary">
												<i class="fa fa-usd"></i>
											</div>
										</div>
										<div class="widget-summary-col">
											<div class="summary">
												<h4 class="title">Total Rate</h4>
												<div class="info">
													<strong class="amount">14,890.30</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-12 col-lg-6 col-xl-6">
							<section class="panel panel-featured-left panel-featured-tertiary">
								<div class="panel-body">
									<div class="widget-summary">
										<div class="widget-summary-col widget-summary-col-icon">
											<div class="summary-icon bg-tertiary">
												<i class="fa fa-shopping-cart"></i>
											</div>
										</div>
										<div class="widget-summary-col">
											<div class="summary">
												<h4 class="title">Downloads</h4>
												<div class="info">
													<strong class="amount">38</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-12 col-lg-6 col-xl-6">
							<section class="panel panel-featured-left panel-featured-quartenary">
								<div class="panel-body">
									<div class="widget-summary">
										<div class="widget-summary-col widget-summary-col-icon">
											<div class="summary-icon bg-quartenary">
												<i class="fa fa-user"></i>
											</div>
										</div>
										<div class="widget-summary-col">
											<div class="summary">
												<h4 class="title">Reports</h4>
												<div class="info">
													<strong class="amount">3765</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div> -->



				<!--  -->

				<!-- end: page -->
			</section>
		</div>

	</section>

	<!-- Vendor -->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.browser.mobile.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/theme.js"></script>

	<script src="js/theme.init.js"></script>
</body>

</html>