.catagory
{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  
}

.my-login-page .form-group label {
  width: 20%;
}

.my-login-page .form-group label {
  width: 10% !important;
}

.uploadFile
{
  padding-top: 30px !important;
  margin-top: 40px !important;
}


.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #00143E;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.catagory
{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  
}

.my-login-page .form-group label {
  width: 20%;
}

.my-login-page .form-group label {
  width: 10% !important;
}

.uploadFile
{
  padding-top: 30px !important;
  margin-top: 40px !important;
}

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #00143E;
  border-color: #00143E;
}

.form-control:focus {
  background: rgb(5, 5, 5);
}

footer {
  background: #00143E;
}


/* ==========================================
    CUSTOM UTILS CLASSES
  ========================================== */
  body, html {
    height: 100%;
  }