<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HABESHAPP">
    <title>Signin page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



    <!-- Bootstrap core CSS -->
    <link href="boot/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

    <main class="form-signin"  style="margin-top: 20px !important;">
        <form action="" method="post">
            <img class="mb-4" src="images/Logo.png" alt="" width="100">
            <h1 class="text-center">Habeshapp</h1><br>
            <h1 class="h3 mb-3 fw-normal" style="color: green!important; font-style: italic; font-size: 27px; font-family: Georgia, 'Times New Roman', Times, serif;">Enter Your Email</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email Address" required />
                <label for="floatingInput">Email</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" style=" Background-color: #ffce19; margin-top: 20px !important;
             text-decoration: none; color:  rgb(255, 255, 255) !important; font-weight: bold;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
               letter-spacing: 1px;">Verify Me</button><br>
        </form>
    </main>
</body>

</html>