<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HABESHAPP">
  <title>Signin page</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- 
  <!-- Bootstrap core CSS -->
  <link href="boot/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-signin" style="margin-top: 20px !important;">
    <form action="/reset-password" method="post">
      <img class="mb-4" style="margin-bottom: 0rem!important" src="images/Logo.png" alt="" width="100">
      <h1 class="text-center">Habeshapp</h1><br>

      <% if(typeof pass !='undefined' ) { %>
      <div class="alert alert-danger" role="alert">
        <%= pass %>
      </div>
      <% } %>

      <div class="form-group">
        <label for="password" style="display: flex;">Password</label>
        <input id=" password" type="password" class="form-control" name="password1" required data-eye>
      </div>
      <div class="form-group">
        <label for="password" style="display: flex;">Confirm Password</label>
        <input id=" password" type="password" class="form-control" name="password2" required data-eye>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" style=" Background-color: #ffce19; margin-top: 20px !important;
             text-decoration: none; color:  rgb(255, 255, 255) !important; font-weight: bold;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
               letter-spacing: 1px;">Reset Password</button><br>
    </form>
  </main>

</body>

</html> 