<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Developer Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">
</head>

<body class="my-login-page">
	<section class="h-100">
<div>
<!-- <img src="images/Logo.png" alt="logo" style="height: 90px; width: 90px;float:right;margin-top: 0px;" >
<b style="float: right;position: relative;">HabeshApp</b>
</div>
<br>
<br> -->
<center><img class="mb-4" style="margin-bottom: 0rem!important;" src="images/Logo.png" alt="" width="100"></center>

<h1 class="text-center">Habeshapp</h1><br>
<div class="container h-100">
<div class="row justify-content-md-center h-100">

	<div class="card-wrapper">



		<% if(typeof banMessage === 'string') { %>
			<div class="alert alert-dark" role="alert">
				<%= banMessage %>
			</div>
		<% } %>

		<% if(typeof outErrors === 'string') { %>
		<div class="alert alert-warning d-flex align-items-center" role="alert">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
				<use xlink:href="#exclamation-triangle-fill" />
			</svg>
			<div>
				<%= outErrors %>
			</div>
		</div>
		<% } %>
		<% if(typeof Ierror != 'undefined') { %>
			<div class="alert alert-warning d-flex align-items-center" role="alert" style="margin-bottom: 0rem;">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
					<use xlink:href="#exclamation-triangle-fill" />
				</svg>
				<div>
					<%= Ierror %>
				</div>
			</div>
			<% } %>
		<div class="card fat">
			<div class="card-body">
				<h4 class="card-title">Login</h4>

		<form method="POST" action="/developer-login">
			<div class="form-group">
				<label for="email">E-Mail Address</label>
				<input id="email" type="email" class="form-control" name="email" value=""
					required autofocus>
				<div class="invalid-feedback">
					Email is invalid
				</div>
			</div>

			<div class="form-group">
				<label for="password">Password
					<a href="/developer-forgot" class="float-right"">
					Forgot Password?
				</a>
			</label>
			<input id=" password" type="password" class="form-control" name="password" required data-eye>
						<div class="invalid-feedback">
							Password is required
						</div>
			</div>

			<div class="form-group m-0">
				<button type="submit" class="btn btn-primary btn-block"
					style="background-color: rgba(255,206,25,1) !important;border-color: rgba(255,206,25,1) !important;">
					Login
				</button>
			</div>
			<div class="mt-4 text-center">
				Don't have an account? <a href="/developer-register">Create One</a>
			</div>
		</form>
			</div>
		</div>
		<div class="footer">
			Copyright &copy; 2022 &mdash; HabeshApp
		</div>
	</div>
</div>
</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>

	<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

	<script>
		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey: "AIzaSyCuEBKtPuc-5oCWK8ihEmEC1esewgb8bwM",
			authDomain: "codewarts-3d655.firebaseapp.com",
			databaseURL: "https://codewarts-3d655.firebaseio.com",
			projectId: "codewarts-3d655",
			storageBucket: "codewarts-3d655.appspot.com",
			messagingSenderId: "879895951645",
			appId: "1:879895951645:web:d18dadbf9ca521f23ac9f4",
			measurementId: "G-NDKJFPM6EQ"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
	</script>

</body>

</html>