<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Habesha App </title>
    <link rel="stylesheet" href="./css/user/style.css">
    <link rel="stylesheet" href="./css/user/search.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./css/user/theme.css">
     <link rel="stylesheet" href="./bootstrap/bootstrap.css">
     <link rel="stylesheet" href="./bootstrap/default.css">
     <link rel="stylesheet" href="./css/user/pannel.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
   </head>
<body>










  <header class="header"  style="background-color: rgba(255,206,25,1); background-image: none;position: fixed;">
 <center>
     <a id="logo" href="/home">
      <svg class="logs" width="192" height="38" viewBox="0 0 192 38" fill="none" >
        <path d="M28.5 9H27L22.5 28L26 30L30 29L28.5 9Z" fill="#0D0D0C"/>
        <path d="M56.904 9.946V26H53.684V19.169H46.807V26H43.587V9.946H46.807V16.547H53.684V9.946H56.904ZM59.2453 19.583C59.2453 18.295 59.4983 17.1527 60.0043 16.156C60.5257 15.1593 61.2233 14.3927 62.0973 13.856C62.9867 13.3193 63.9757 13.051 65.0643 13.051C66.015 13.051 66.843 13.2427 67.5483 13.626C68.269 14.0093 68.844 14.4923 69.2733 15.075V13.258H72.5163V26H69.2733V24.137C68.8593 24.735 68.2843 25.2333 67.5483 25.632C66.8277 26.0153 65.992 26.207 65.0413 26.207C63.968 26.207 62.9867 25.931 62.0973 25.379C61.2233 24.827 60.5257 24.0527 60.0043 23.056C59.4983 22.044 59.2453 20.8863 59.2453 19.583ZM69.2733 19.629C69.2733 18.847 69.12 18.18 68.8133 17.628C68.5067 17.0607 68.0927 16.6313 67.5713 16.34C67.05 16.0333 66.4903 15.88 65.8923 15.88C65.2943 15.88 64.7423 16.0257 64.2363 16.317C63.7303 16.6083 63.3163 17.0377 62.9943 17.605C62.6877 18.157 62.5343 18.8163 62.5343 19.583C62.5343 20.3497 62.6877 21.0243 62.9943 21.607C63.3163 22.1743 63.7303 22.6113 64.2363 22.918C64.7577 23.2247 65.3097 23.378 65.8923 23.378C66.4903 23.378 67.05 23.2323 67.5713 22.941C68.0927 22.6343 68.5067 22.205 68.8133 21.653C69.12 21.0857 69.2733 20.411 69.2733 19.629ZM78.8812 15.121C79.2952 14.5077 79.8626 14.0093 80.5832 13.626C81.3192 13.2427 82.1549 13.051 83.0902 13.051C84.1789 13.051 85.1602 13.3193 86.0342 13.856C86.9236 14.3927 87.6212 15.1593 88.1272 16.156C88.6486 17.1373 88.9092 18.2797 88.9092 19.583C88.9092 20.8863 88.6486 22.044 88.1272 23.056C87.6212 24.0527 86.9236 24.827 86.0342 25.379C85.1602 25.931 84.1789 26.207 83.0902 26.207C82.1396 26.207 81.3039 26.023 80.5832 25.655C79.8779 25.2717 79.3106 24.781 78.8812 24.183V26H75.6612V8.98H78.8812V15.121ZM85.6202 19.583C85.6202 18.8163 85.4592 18.157 85.1372 17.605C84.8306 17.0377 84.4166 16.6083 83.8952 16.317C83.3892 16.0257 82.8372 15.88 82.2392 15.88C81.6566 15.88 81.1046 16.0333 80.5832 16.34C80.0772 16.6313 79.6632 17.0607 79.3412 17.628C79.0346 18.1953 78.8812 18.8623 78.8812 19.629C78.8812 20.3957 79.0346 21.0627 79.3412 21.63C79.6632 22.1973 80.0772 22.6343 80.5832 22.941C81.1046 23.2323 81.6566 23.378 82.2392 23.378C82.8372 23.378 83.3892 23.2247 83.8952 22.918C84.4166 22.6113 84.8306 22.1743 85.1372 21.607C85.4592 21.0397 85.6202 20.365 85.6202 19.583ZM103.094 19.353C103.094 19.813 103.063 20.227 103.002 20.595H93.6871C93.7638 21.515 94.0858 22.2357 94.6531 22.757C95.2204 23.2783 95.9181 23.539 96.7461 23.539C97.9421 23.539 98.7931 23.0253 99.2991 21.998H102.772C102.404 23.2247 101.699 24.2367 100.656 25.034C99.6134 25.816 98.3331 26.207 96.8151 26.207C95.5884 26.207 94.4844 25.9387 93.5031 25.402C92.5371 24.85 91.7781 24.0757 91.2261 23.079C90.6894 22.0823 90.4211 20.9323 90.4211 19.629C90.4211 18.3103 90.6894 17.1527 91.2261 16.156C91.7628 15.1593 92.5141 14.3927 93.4801 13.856C94.4461 13.3193 95.5578 13.051 96.8151 13.051C98.0264 13.051 99.1074 13.3117 100.058 13.833C101.024 14.3543 101.768 15.098 102.289 16.064C102.826 17.0147 103.094 18.111 103.094 19.353ZM99.7591 18.433C99.7438 17.605 99.4448 16.9457 98.8621 16.455C98.2794 15.949 97.5664 15.696 96.7231 15.696C95.9258 15.696 95.2511 15.9413 94.6991 16.432C94.1624 16.9073 93.8328 17.5743 93.7101 18.433H99.7591ZM110.32 26.207C109.278 26.207 108.342 26.023 107.514 25.655C106.686 25.2717 106.027 24.758 105.536 24.114C105.061 23.47 104.8 22.757 104.754 21.975H107.997C108.059 22.4657 108.296 22.872 108.71 23.194C109.14 23.516 109.669 23.677 110.297 23.677C110.911 23.677 111.386 23.5543 111.723 23.309C112.076 23.0637 112.252 22.7493 112.252 22.366C112.252 21.952 112.038 21.6453 111.608 21.446C111.194 21.2313 110.527 21.0013 109.607 20.756C108.657 20.526 107.875 20.2883 107.261 20.043C106.663 19.7977 106.142 19.422 105.697 18.916C105.268 18.41 105.053 17.7277 105.053 16.869C105.053 16.1637 105.253 15.5197 105.651 14.937C106.065 14.3543 106.648 13.8943 107.399 13.557C108.166 13.2197 109.063 13.051 110.09 13.051C111.608 13.051 112.82 13.4343 113.724 14.201C114.629 14.9523 115.127 15.972 115.219 17.26H112.137C112.091 16.754 111.877 16.3553 111.493 16.064C111.125 15.7573 110.627 15.604 109.998 15.604C109.416 15.604 108.963 15.7113 108.641 15.926C108.335 16.1407 108.181 16.4397 108.181 16.823C108.181 17.2523 108.396 17.582 108.825 17.812C109.255 18.0267 109.922 18.249 110.826 18.479C111.746 18.709 112.505 18.9467 113.103 19.192C113.701 19.4373 114.215 19.8207 114.644 20.342C115.089 20.848 115.319 21.5227 115.334 22.366C115.334 23.102 115.127 23.7613 114.713 24.344C114.315 24.9267 113.732 25.3867 112.965 25.724C112.214 26.046 111.332 26.207 110.32 26.207ZM125.154 13.074C126.12 13.074 126.978 13.2887 127.73 13.718C128.481 14.132 129.064 14.753 129.478 15.581C129.907 16.3937 130.122 17.375 130.122 18.525V26H126.902V18.962C126.902 17.95 126.649 17.1757 126.143 16.639C125.637 16.087 124.947 15.811 124.073 15.811C123.183 15.811 122.478 16.087 121.957 16.639C121.451 17.1757 121.198 17.95 121.198 18.962V26H117.978V8.98H121.198V14.845C121.612 14.293 122.164 13.8637 122.854 13.557C123.544 13.235 124.31 13.074 125.154 13.074ZM132.356 19.583C132.356 18.295 132.609 17.1527 133.115 16.156C133.636 15.1593 134.334 14.3927 135.208 13.856C136.097 13.3193 137.086 13.051 138.175 13.051C139.125 13.051 139.953 13.2427 140.659 13.626C141.379 14.0093 141.954 14.4923 142.384 15.075V13.258H145.627V26H142.384V24.137C141.97 24.735 141.395 25.2333 140.659 25.632C139.938 26.0153 139.102 26.207 138.152 26.207C137.078 26.207 136.097 25.931 135.208 25.379C134.334 24.827 133.636 24.0527 133.115 23.056C132.609 22.044 132.356 20.8863 132.356 19.583ZM142.384 19.629C142.384 18.847 142.23 18.18 141.924 17.628C141.617 17.0607 141.203 16.6313 140.682 16.34C140.16 16.0333 139.601 15.88 139.003 15.88C138.405 15.88 137.853 16.0257 137.347 16.317C136.841 16.6083 136.427 17.0377 136.105 17.605C135.798 18.157 135.645 18.8163 135.645 19.583C135.645 20.3497 135.798 21.0243 136.105 21.607C136.427 22.1743 136.841 22.6113 137.347 22.918C137.868 23.2247 138.42 23.378 139.003 23.378C139.601 23.378 140.16 23.2323 140.682 22.941C141.203 22.6343 141.617 22.205 141.924 21.653C142.23 21.0857 142.384 20.411 142.384 19.629ZM151.992 15.098C152.406 14.5153 152.973 14.0323 153.694 13.649C154.43 13.2503 155.265 13.051 156.201 13.051C157.289 13.051 158.271 13.3193 159.145 13.856C160.034 14.3927 160.732 15.1593 161.238 16.156C161.759 17.1373 162.02 18.2797 162.02 19.583C162.02 20.8863 161.759 22.044 161.238 23.056C160.732 24.0527 160.034 24.827 159.145 25.379C158.271 25.931 157.289 26.207 156.201 26.207C155.265 26.207 154.437 26.0153 153.717 25.632C153.011 25.2487 152.436 24.7657 151.992 24.183V32.072H148.772V13.258H151.992V15.098ZM158.731 19.583C158.731 18.8163 158.57 18.157 158.248 17.605C157.941 17.0377 157.527 16.6083 157.006 16.317C156.5 16.0257 155.948 15.88 155.35 15.88C154.767 15.88 154.215 16.0333 153.694 16.34C153.188 16.6313 152.774 17.0607 152.452 17.628C152.145 18.1953 151.992 18.8623 151.992 19.629C151.992 20.3957 152.145 21.0627 152.452 21.63C152.774 22.1973 153.188 22.6343 153.694 22.941C154.215 23.2323 154.767 23.378 155.35 23.378C155.948 23.378 156.5 23.2247 157.006 22.918C157.527 22.6113 157.941 22.1743 158.248 21.607C158.57 21.0397 158.731 20.365 158.731 19.583ZM167.579 15.098C167.993 14.5153 168.561 14.0323 169.281 13.649C170.017 13.2503 170.853 13.051 171.788 13.051C172.877 13.051 173.858 13.3193 174.732 13.856C175.622 14.3927 176.319 15.1593 176.825 16.156C177.347 17.1373 177.607 18.2797 177.607 19.583C177.607 20.8863 177.347 22.044 176.825 23.056C176.319 24.0527 175.622 24.827 174.732 25.379C173.858 25.931 172.877 26.207 171.788 26.207C170.853 26.207 170.025 26.0153 169.304 25.632C168.599 25.2487 168.024 24.7657 167.579 24.183V32.072H164.359V13.258H167.579V15.098ZM174.318 19.583C174.318 18.8163 174.157 18.157 173.835 17.605C173.529 17.0377 173.115 16.6083 172.593 16.317C172.087 16.0257 171.535 15.88 170.937 15.88C170.355 15.88 169.803 16.0333 169.281 16.34C168.775 16.6313 168.361 17.0607 168.039 17.628C167.733 18.1953 167.579 18.8623 167.579 19.629C167.579 20.3957 167.733 21.0627 168.039 21.63C168.361 22.1973 168.775 22.6343 169.281 22.941C169.803 23.2323 170.355 23.378 170.937 23.378C171.535 23.378 172.087 23.2247 172.593 22.918C173.115 22.6113 173.529 22.1743 173.835 21.607C174.157 21.0397 174.318 20.365 174.318 19.583Z" fill="#100E01"/>
        <path d="M11.271 9.00698C10.9555 9.1117 10.7273 9.41888 10.7273 9.78191C10.7273 10.2287 11.0763 10.5918 11.506 10.5918H13.6139C14.0569 10.5918 14.4463 10.9687 14.4329 11.4295C14.4262 11.639 14.3389 11.8344 14.2046 11.9741C14.0637 12.1207 13.869 12.2114 13.6542 12.2114H5.34336V12.2254C5.17553 12.2533 5.03456 12.3301 4.92044 12.4488C4.77946 12.5954 4.69219 12.7979 4.69219 13.0213C4.69219 13.4192 4.97414 13.7543 5.34336 13.8172V13.8311H9.16982C9.61288 13.8311 10.0022 14.2081 9.98881 14.6689C9.9821 14.8783 9.89483 15.0738 9.76057 15.2134C9.61959 15.36 9.42491 15.4508 9.21009 15.4508H7.63252C7.4177 15.4508 7.22302 15.5416 7.08205 15.6882C6.94107 15.8348 6.8538 16.0372 6.8538 16.2606C6.8538 16.7074 7.20288 17.0705 7.63252 17.0705H10.9756C11.4254 17.0705 11.8148 17.4545 11.7946 17.9152C11.7879 18.1247 11.7006 18.3132 11.5664 18.4528C11.4254 18.5994 11.2307 18.6902 11.0159 18.6902H1.77872C1.5639 18.6902 1.36922 18.7809 1.22824 18.9275C1.08727 19.0741 1 19.2766 1 19.5C1 19.9468 1.34908 20.3098 1.77872 20.3098H6.8538V20.3168C7.22974 20.3727 7.52511 20.7078 7.52511 21.1197C7.52511 21.3431 7.43784 21.5455 7.29687 21.6922C7.18274 21.8178 7.02834 21.8946 6.8538 21.9225V21.9295H3.18846C2.97364 21.9295 2.77897 22.0203 2.63799 22.1669C2.49702 22.3135 2.40975 22.516 2.40975 22.7394C2.40975 23.1862 2.75883 23.5492 3.18846 23.5492H11.3046C11.7476 23.5492 12.137 23.9262 12.1236 24.387C12.1169 24.5964 12.0296 24.7919 11.8953 24.9315C11.7544 25.0781 11.5597 25.1689 11.3449 25.1689H9.00199C8.78717 25.1689 8.59249 25.2596 8.45152 25.4062C8.31054 25.5529 8.22327 25.7553 8.22327 25.9787C8.22327 26.4255 8.57235 26.7886 9.00199 26.7886H14.1308C14.5604 26.7886 14.9095 27.1516 14.9095 27.5984C14.9095 27.8218 14.8222 28.0243 14.6813 28.1709C14.5403 28.3175 14.3456 28.4082 14.1308 28.4082H11.9088C11.4724 28.4082 11.1233 28.7783 11.1233 29.2251C11.1233 29.5881 11.3449 29.8883 11.6604 30H25.9189L28 9H11.271V9.00698ZM12.7009 21.6991C12.5599 21.8457 12.3652 21.9365 12.1504 21.9365H9.40477C8.97514 21.9365 8.62606 21.5735 8.62606 21.1267C8.62606 20.9033 8.71333 20.7008 8.8543 20.5542C8.99528 20.4076 9.18996 20.3168 9.40477 20.3168H12.1504C12.5801 20.3168 12.9291 20.6799 12.9291 21.1267C12.9291 21.3501 12.8419 21.5455 12.7009 21.6991ZM14.1106 15.2204C13.9697 15.367 13.775 15.4578 13.5602 15.4578H11.506C11.0763 15.4578 10.7273 15.0947 10.7273 14.6479C10.7273 14.4245 10.8145 14.2221 10.9555 14.0755C11.0965 13.9289 11.2911 13.8381 11.506 13.8381H13.5602C13.9898 13.8381 14.3389 14.2011 14.3389 14.6479C14.3389 14.8713 14.2516 15.0738 14.1106 15.2204ZM16.5743 11.2759C16.4669 11.3807 16.326 11.4435 16.1648 11.4435C15.8292 11.4435 15.5607 11.1642 15.5607 10.8152C15.5607 10.7872 15.5607 10.7663 15.5674 10.7384C15.6009 10.4242 15.856 10.1868 16.1648 10.1868C16.4938 10.1868 16.769 10.4661 16.769 10.8152C16.769 10.9967 16.6952 11.1642 16.5743 11.2759ZM24.9858 11.2759C24.8784 11.3807 24.7374 11.4435 24.5763 11.4435C24.2407 11.4435 23.9722 11.1642 23.9722 10.8152C23.9722 10.7872 23.9722 10.7663 23.9789 10.7384C24.0124 10.4242 24.2675 10.1868 24.5763 10.1868C24.9053 10.1868 25.1805 10.4661 25.1805 10.8152C25.1805 10.9967 25.1067 11.1642 24.9858 11.2759Z" fill="#181817"/>
        <path d="M3.84356 17.3451H5.09987C5.53215 17.3451 5.88338 16.9898 5.88338 16.5524C5.88338 16.1151 5.53215 15.7598 5.09987 15.7598H3.84356C3.41129 15.7598 3.06006 16.1151 3.06006 16.5524C3.06006 16.9898 3.41129 17.3451 3.84356 17.3451Z" fill="#2D2B2A"/>
        <path d="M7.66656 11.0039H8.92287C9.35515 11.0039 9.70638 10.6486 9.70638 10.2113C9.70638 9.85597 9.47673 9.55532 9.15927 9.45282H7.43016C7.1127 9.55532 6.88306 9.85597 6.88306 10.2113C6.88306 10.6486 7.23428 11.0039 7.66656 11.0039Z" fill="#2D2B2A"/>
        <path d="M6.41024 25.2646H5.15393C4.72165 25.2646 4.37042 25.62 4.37042 26.0573C4.37042 26.4946 4.72165 26.8499 5.15393 26.8499H6.41024C6.84252 26.8499 7.19374 26.4946 7.19374 26.0573C7.19374 25.62 6.84252 25.2646 6.41024 25.2646Z" fill="#2D2B2A"/>
        <path d="M9.58478 28.4557H8.36224C7.94347 28.4557 7.599 28.7974 7.599 29.2279C7.599 29.6515 7.93672 30 8.36224 30H9.58478C10.0035 30 10.348 29.6583 10.348 29.2279C10.3413 28.8042 10.0035 28.4557 9.58478 28.4557Z" fill="#2D2B2A"/>
        <path d="M28.2464 9L26 30L30 28.7573L28.2464 9Z" fill="#0D0D0C"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.729 29.993C17.0445 29.8883 17.2727 29.5811 17.2727 29.2181C17.2727 29.1425 17.2628 29.0694 17.2441 29H20V26.7886H22.6566V26.7746C22.8245 26.7467 22.9654 26.6699 23.0796 26.5512C23.2205 26.4046 23.3078 26.2021 23.3078 25.9787C23.3078 25.5808 23.0259 25.2457 22.6566 25.1828V25.1689H20V24H18.0922C18.1303 23.9204 18.1803 23.8481 18.2394 23.7866C18.3804 23.64 18.5751 23.5492 18.7899 23.5492H20.3675C20.5823 23.5492 20.777 23.4584 20.9179 23.3118C21.0589 23.1652 21.1462 22.9628 21.1462 22.7394C21.1462 22.2926 20.7971 21.9295 20.3675 21.9295H17.0244C16.5746 21.9295 16.1852 21.5455 16.2054 21.0848C16.2121 20.8753 16.2994 20.6868 16.4336 20.5472C16.5746 20.4006 16.7693 20.3098 16.9841 20.3098L26.2213 20.3098C26.4361 20.3098 26.6308 20.2191 26.7718 20.0725C26.9127 19.9259 27 19.7234 27 19.5C27 19.0532 26.6509 18.6902 26.2213 18.6902L21.1462 18.6902V18.6832C20.7703 18.6273 20.4749 18.2922 20.4749 17.8803C20.4749 17.6569 20.5622 17.4545 20.7031 17.3078C20.8173 17.1822 20.9717 17.1054 21.1462 17.0775V17.0705L24.8115 17.0705C25.0264 17.0705 25.221 16.9797 25.362 16.8331C25.503 16.6865 25.5903 16.484 25.5903 16.2606C25.5903 15.8138 25.2412 15.4508 24.8115 15.4508L16.6954 15.4508C16.3864 15.4508 16.1034 15.2674 15.9651 15H26V10H16.8463C16.8661 9.92835 16.8767 9.85281 16.8767 9.77493C16.8767 9.4119 16.6551 9.1117 16.3396 9H2.08105L0 30L16.729 30L16.729 29.993ZM17.1953 24C17.0693 23.7292 16.8024 23.5422 16.494 23.5422L14.4398 23.5422C14.225 23.5422 14.0303 23.633 13.8894 23.7796C13.828 23.8434 13.7768 23.9179 13.7385 24H17.1953ZM15.2991 17.3009C15.4401 17.1543 15.6348 17.0635 15.8496 17.0635H18.5952C19.0249 17.0635 19.3739 17.4265 19.3739 17.8733C19.3739 18.0967 19.2867 18.2992 19.1457 18.4458C19.0047 18.5924 18.81 18.6832 18.5952 18.6832H15.8496C15.4199 18.6832 15.0709 18.3201 15.0709 17.8733C15.0709 17.6499 15.1581 17.4545 15.2991 17.3009Z" fill="#181817"/>
        <path d="M19.562 11.9936C19.3285 11.9936 19.1387 11.8277 19.1387 11.6235V9.42206C19.1387 7.42479 17.3066 5.77211 15.0584 5.74658H14.9927C12.708 5.74658 10.8467 7.37375 10.8467 9.37101V11.6299C10.8467 11.8341 10.6569 12 10.4234 12C10.1898 12 10 11.8341 10 11.6299V9.42844C10 7.01003 12.219 5.02552 14.9489 5H15C17.7591 5 20 6.95898 20 9.37101V11.6299C19.9854 11.8277 19.7956 11.9936 19.562 11.9936Z" fill="#100E0D"/>
        <path d="M9 15.45C9 15.2015 9.20147 15 9.45 15H11.55C11.7985 15 12 15.2015 12 15.45V17.55C12 17.7985 11.7985 18 11.55 18H9.45C9.20147 18 9 17.7985 9 17.55V15.45Z" fill="#FFFAFA"/>
        <path d="M13 19.45C13 19.2015 13.2015 19 13.45 19H15.55C15.7985 19 16 19.2015 16 19.45V21.55C16 21.7985 15.7985 22 15.55 22H13.45C13.2015 22 13 21.7985 13 21.55V19.45Z" fill="#FFFAFA"/>
        <path d="M9 19.45C9 19.2015 9.20147 19 9.45 19H11.55C11.7985 19 12 19.2015 12 19.45V21.55C12 21.7985 11.7985 22 11.55 22H9.45C9.20147 22 9 21.7985 9 21.55V19.45Z" fill="#FFFAFA"/>
        <path d="M9 23.45C9 23.2015 9.20147 23 9.45 23H11.55C11.7985 23 12 23.2015 12 23.45V25.55C12 25.7985 11.7985 26 11.55 26H9.45C9.20147 26 9 25.7985 9 25.55V23.45Z" fill="#FFFAFA"/>
        <path d="M17 15.45C17 15.2015 17.2015 15 17.45 15H19.55C19.7985 15 20 15.2015 20 15.45V17.55C20 17.7985 19.7985 18 19.55 18H17.45C17.2015 18 17 17.7985 17 17.55V15.45Z" fill="#FFFAFA"/>
        <path d="M17 19.45C17 19.2015 17.2015 19 17.45 19H19.55C19.7985 19 20 19.2015 20 19.45V21.55C20 21.7985 19.7985 22 19.55 22H17.45C17.2015 22 17 21.7985 17 21.55V19.45Z" fill="#FFFAFA"/>
        <path d="M17 23.45C17 23.2015 17.2015 23 17.45 23H19.55C19.7985 23 20 23.2015 20 23.45V25.55C20 25.7985 19.7985 26 19.55 26H17.45C17.2015 26 17 25.7985 17 25.55V23.45Z" fill="#FFFAFA"/>
        </svg>
        </a>
      </center>

  </header>






  <header class="header" style="top: 60px;border-top: 4px solid #EDEDED;position: fixed;">
<center>
  

  <form action="#"  method="post" class="search-bar">
    <input type="search" style="background-color:white" name="search"  required>
    <button class="search-btn" type="submit">
      <span>Search</span>
    </button>
  </form>
</center>

  </header>


  
   <div class="sidebar">
    <!-- <div class="logo-details">
       <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">Catagories</div>
        <i class='bx bx-menu' id="btn" ></i> 
    </div> -->
    <ul class="nav-list">
      <li>
        <a href="#">
          <i class='bi-phone-flip' style="color: black"></i>
          <span class="links_name">Life Style</span>
        </a>
         <span class="tooltip">Life Style</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-book' style="color: black"></i>
          <span class="links_name">Education</span>
        </a>
         <span class="tooltip">Education</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-dice-2' style="color: black"></i>
         <span class="links_name">Entertainment</span>
       </a>
       <span class="tooltip">Entertainment</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-briefcase'   style="color: black"></i>
         <span class="links_name">Business</span>
       </a>
       <span class="tooltip">Business</span>
     </li>
     <li>
       <a href="#">
         <i class='bi bi-cup-straw'  style="color: black"></i>
         <span class="links_name">Foods and Drinks</span>
       </a>
       <span class="tooltip">Foods and Drinks</span>
     </li>
     <li>
       <a href="#">
         <i class='bi bi-hammer'   style="color: black"></i>
         <span class="links_name">Tools</span>
       </a>
       <span class="tooltip">Tools</span>
     </li>
     <li>
       <a href="#">
         <i class='bi bi-controller' id="btn"  style="color: black"></i>
         <span class="links_name">Games</span>
       </a>
       <span class="tooltip">Games</span>
     </li>
     
 
     </ul>
  </div>




<section>

 <div class="newApps">New Apps</div> 

<div class="gallery">
  <%
  if(typeof ListApps != 'undefined') { %>
<% ListApps.forEach((app)=>{ %>
  <a href="info/<%= app[2] %>" style="text-decoration: none !important;">
  <div class="content">
    <img src="<%= app[1]%>">
    <h4 style="color: #3c3c3c; margin-bottom: 0px;font-size: 16px;margin-top: 8px !important;"><%= app[0].replace(/[_]+/g, ' ')  %></h4>
    <div style="font-size: 18px; color: #3c3c3c;"> <%= app[4] %> views</div>
    <div style="font-size: large;color:#3c3c3c">
      <% if(app[3] == 0) { %>
    <span class="fa fa-star" ></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <% } %>
      <% if(app[3] == 1) { %>
    <span class="fa fa-star checked" ></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <% } %>
      <% if(app[3] == 2) { %>
    <span class="fa fa-star checked" ></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <% } %>
      <% if(app[3] == 3) { %>
    <span class="fa fa-star checked" ></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <% } %>
      <% if(app[3] == 4) { %>
    <span class="fa fa-star checked" ></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <% } %>
      <% if(app[3] == 5) { %>
    <span class="fa fa-star checked" ></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
      <% } %>
    
    
  </div>
  </div>
  </a>
  <% }) %>
  <% } %>
</section> 

<section>
<div class="TendingApps">Trending APPS</div> 
<div class="gallery">

  <!-- <div class="content">
    <img src="./fyn.webp">
    <h3>Fyn Geez</h3>
    Ride systems<br>
    
    <span class="fa fa-star checked" ></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div> -->
  
</div>
</section> 

  <script src="js/homepagescript.js"></script>



</body>
</html>
