<!doctype html>
<html class="fixed">

<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Developer Dashboard</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
    <meta name="author" content="JSOFT.net">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css" />
    <!-- My css -->
    <link rel="stylesheet" href="css/pannel.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="bootstrap/theme.css" />



    <!-- Skin CSS -->
    <link rel="stylesheet" href="bootstrap/default.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a class="logo" style="text-decoration: none;">
                    <img src="images/Logo.png" height="35" alt="JSOFT Admin" />
                    <strong style="margin-left:20px;padding-top:100px !important;font-size: medium;">HABESHAPP</strong>

                </a>
                <div class="header-right">

                    <div id="userbox" class="userbox">
                        <a href="#" data-toggle="dropdown">
                            <%if(dev) {%>
                            <% console.log("The ejs"+JSON.stringify(dev))%>
                            <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
                                <span class="name"><%= dev.email %></span>
                                <span class="role">Developer</span>
                            </div>
                            <% } else { %><div style="display: none;"></div><% } %>

                            <i class="fa custom-caret"></i>
                        </a>

                        <div class="dropdown-menu">
                            <ul class="list-unstyled">
                                <li class="divider"></li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="#"><i class="fa fa-power-off"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- start: search & user box -->

            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <!--  -->
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>Dashboard</h2>

                </header>




                <center>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a href="status" style="text-decoration: none;">
                                        <div class="wrimagecard-topimage_header"
                                            style="background-color:rgba(187, 120, 36, 0.1) ">
                                            <center><i class="fa fa-area-chart" style="color:#BB7824"></i></center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <h4>Ride
                                                <div class="pull-right badge">Delete</div></h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a href="status" style="text-decoration: none;">
                                        <div class="wrimagecard-topimage_header"
                                            style="background-color: rgba(22, 160, 133, 0.1)">
                                            <center><i class="fa fa-cubes" style="color:#16A085"></i></center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <h4>Ride Familiy
                                                <div class="pull-right badge" id="WrControls">Delete</div>
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a href="status" style="text-decoration: none;">
                                        <div class="wrimagecard-topimage_header"
                                            style="background-color:  rgba(213, 15, 37, 0.1)">
                                            <center><i class="fa fa-pencil-square-o" style="color:#d50f25"> </i>
                                            </center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <h4>Ride Trucks
                                                <div class="pull-right badge" id="WrForms">Delete</div>
                                            </h4>
                                        </div>

                                    </a>
                                </div>
                            </div>

            </section>
        </div>

    </section>

    <!-- Vendor -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.browser.mobile.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/theme.js"></script>

    <script src="js/theme.init.js"></script>
</body>

</html>